.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c2b35;
  height: 80px;
  padding: 0 140px;
}
.nav-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header li {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  margin-left: 18px;
  list-style: none;
  display: flex;
  transition: 0.7s;
}
